<!-- Rei0403-table.html -->
<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{title}}</h2>
        <div>{{data}}と{{data1}}の比較の結果</div><br>
        <div>p_value = {{ans}}で{{p}}</div><br>
        <table border>
            <tr>
                <th>{{Month}}</th>
                <th>{{data}}</th>
                <th>{{data1}}</th>
            </tr>
            <tr>
                <td>{{temp[0][0]}}</td>
                <td>{{temp[0][1]}}</td>
                <td>{{temp1[0][1]}}</td>
            </tr>
            <tr>
                <td>{{temp[1][0]}}</td>
                <td>{{temp[1][1]}}</td>
                <td>{{temp1[1][1]}}</td>
            </tr>
            <tr>
                <td>{{temp[2][0]}}</td>
                <td>{{temp[2][1]}}</td>
                <td>{{temp1[2][1]}}</td>
            </tr>
            <tr>
                <td>{{temp[3][0]}}</td>
                <td>{{temp[3][1]}}</td>
                <td>{{temp1[3][1]}}</td>
            </tr>
            <tr>
                <td>{{temp[4][0]}}</td>
                <td>{{temp[4][1]}}</td>
                <td>{{temp1[4][1]}}</td>
            </tr>
            <tr>
                <td>{{temp[5][0]}}</td>
                <td>{{temp[5][1]}}</td>
                <td>{{temp1[5][1]}}</td>
            </tr>
            <tr>
                <td>{{temp[6][0]}}</td>
                <td>{{temp[6][1]}}</td>
                <td>{{temp1[6][1]}}</td>
            </tr>
            <tr>
                <td>{{temp[7][0]}}</td>
                <td>{{temp[7][1]}}</td>
                <td>{{temp1[7][1]}}</td>
            </tr>
            <tr>
                <td>{{temp[8][0]}}</td>
                <td>{{temp[8][1]}}</td>
                <td>{{temp1[8][1]}}</td>
            </tr>
            <tr>
                <td>{{temp[9][0]}}</td>
                <td>{{temp[9][1]}}</td>
                <td>{{temp1[9][1]}}</td>
            </tr>
            <tr>
                <td>{{temp[10][0]}}</td>
                <td>{{temp[10][1]}}</td>
                <td>{{temp1[10][1]}}</td>
            </tr>
            <tr>
                <td>{{temp[11][0]}}</td>
                <td>{{temp[11][1]}}</td>
                <td>{{temp1[11][1]}}</td>
            </tr>

        </table> 
        <img src={{image}}>   
    </body>
</html>